---
import CommonPage from "@/layouts/CommonPage.astro";
---
<CommonPage title="Contact">
  <h1>Contacto</h1>
  <p>¿Trabajamos juntos? Escríbeme a <strong>rogermur1990@gmail.com</strong> o por LinkedIn.</p>
</CommonPage>
